$primary-color: #fff
$secondary-color: #000
$base-font-size: 15px
$no-padding: 0px
$background-size: cover
$breakpoint-device: 989px
$mobile-device: 600px
$heading-font: 2.4em
$text-font: 1.1em

.InspirationsCaroMainbox
    padding: 3% 7%
    padding-bottom: 0% !important
    .InspirationsCaros
        .InspirationsCaroHeader
            text-align: center
            font-size: $heading-font
            font-weight: 800
        .InspirationsCaroSecondText
            margin: auto
            font-size: 1em  
            text-align: center 
    .Learnmore
        border-radius: 5px
        outline: none !important
        border: none !important
        color: $primary-color
        background-color: rgba(131,188,197,1)
    .bottom1
        margin-left: 25%
        margin-top: 25%
    .bottom3
        margin-left: 50%
        margin-top: -25%
    .inspimage
        width: 100%
        height: 100%
    .inspimage1
        width: 100%
        height: 100%
    .BottomHead
        font-size: $heading-font
        font-weight: 900
    .inspimageTextarea
        position: absolute
        top: 65%
        color: $primary-color
        padding: 0% 5%
        font-size: $text-font
        .inspimageMain
            font-size: 1.7em
            font-weight: 600
        .inspuserlogo
            width: 15%
            margin-left: -3%
        .inspuserlogotop
            width: 15%
            margin-left: -3%
    .secondarytextarea
        top: 60%
@media (max-width: $mobile-device)
    .InspirationsCaroMainbox
        padding-top: 40% !important
    .secondarytextarea
        top: 40% !important
    .inspuserlogo
        width: 25% !important
        margin-left: -6% !important
    .inspuserlogotop
        width: 15% !important
    .inspimage1
        height: 100% !important
    .BottomHead 
        text-align: center
    .BottomText
        text-align: center
    .BottomButton
        text-align: center

@media (min-width: $mobile-device) and (max-width: $breakpoint-device)
    .InspirationsCaroMainbox
        padding-top: 30% !important
    .secondarytextarea
        top: 40% !important
    .inspuserlogo
        width: 25% !important
        margin-left: -6% !important
    .inspuserlogotop
        width: 15% !important
    .inspimage1
        height: 100% !important
    .BottomHead 
        text-align: center
    .BottomText
        text-align: center
    .BottomButton
        text-align: center
