.SecondbannerHoverTile
{
    position: relative
}
.secondbannerimg
{    
    width: 100%;
    position: relative;
}
.image 
{    
    display: block;
    width: 100%;
    height: auto;
}
.coverflow__container__1P-xE{
    background-color: #fff !important;
}
.overlay 
    {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0, 140, 186,0.7);
        overflow: hidden;
        width: 96%;
        height: 0%;
        transition: .5s ease;
    }
.SecondbannerHoverTile:hover .overlay
    {
        height: 97%;
    }
.overlaytext
    {
        color: white;
        font-size: 1.4em;
        position: absolute;
        /* top: 50%; */
        left: 50%;
        bottom: 5%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
    @media only screen and (max-width: 600px) {
        .overlay{
            width: 93% !important;
        }
        .SecondbannerHoverTile:hover .overlay
        {
            height: 95% !important;
        }
       }