$font-family:    Helvetica, sans-serif
$primary-color: #fff
$secondary-color: #000
$base-font-size: 15px
$no-padding: 0px
$background-size: cover

.mainbox
    padding: $no-padding !important
    background-color: $primary-color